<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="baseURL" value="http://www.songspk.pk/|http://www.songspk.info/|http://downloadming.info/bollywood-mp3|http://www.songspk.pk/bollywood_songs.html|http://www.tissot.ch/?stores"/>
  </appSettings>
</configuration>
